<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Execution" parallel="none" thread-count="2">
	<listeners>
		<listener class-name="listeners.TestListener"></listener>
	</listeners>
	
	<test  name="Sanity Test on Chrome" >
		<parameter name="browser" value="${browser}"></parameter>
		<classes>
			<class name="tests.LoginTest" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->